%ul.wrapper__contents__right__ul
  .wrapper__contents__right__ul__title
    = "タグリスト"
  = form_with(url: search_tags_path, local: true, method: :get, class: "wrapper__contents__right__ul__search-form") do |form|
    - @user_folders.each do |user_folder|
      .wrapper__contents__right__ul__search-form__folder
        = icon('fas',' fa-folder')
        = user_folder.name
        - user_folder.tags.each do |tag|
          %li.wrapper__contents__right__ul__search-form__folder__list
            = form.check_box :tag_ids, { multiple: true, include_hidden: false, class: "wrapper__contents__right__ul__search-form__folder__list__checkbox" }, tag.id
            -# form.check_box :配列名, { 複数のチェックボックスをひとまとめに扱うか, uncheck時に0の自動取得を回避, class:"クラス名" }, "チェック時に取得する値"
            .wrapper__contents__right__ul__search-form__folder__list__icon
              = icon('fas',' fa-tags')
            = form.label tag.name, class:"wrapper__contents__right__ul__search-form__folder__list__name"
    = form.submit '検索', class: "wrapper__contents__right__ul__search-form__submit"
  .wrapper__contents__right__ul__bottom
    %br.wrapper__contents__right__ul__bottom__guide
    = "※AND条件で絞り込み検索します。"
    = link_to icon('fas',' fa-edit'), folders_path(@user_folder), class: "wrapper__contents__right__ul__bottom__edit", method: :get