.wrapper__contents__left
  %ul.wrapper__contents__left__ul
    - @memos.each do |memo|
      = link_to memo_path(memo) do
        %li.wrapper__contents__left__ul__list
          .wrapper__contents__left__ul__list__title
            = memo.title
          .wrapper__contents__left__ul__list__content
            .wrapper__contents__left__ul__list__content__text
              = memo.text
            = image_tag memo.image.url, class: 'image', size: '90x90' if memo.image.present?
          .wrapper__contents__left__ul__list__date
            = memo.updated_at.strftime("%Y年%m月%d日")
