%ul.wrapper__contents__folder_index__ul
  .wrapper__contents__folder_index__ul__title
    = "タグリスト編集"
  .wrapper__contents__folder_index__ul__tree
    .wrapper__contents__folder_index__ul__tree__folder
      - @user_folders.each do |user_folder|
        .wrapper__contents__folder_index__ul__tree__folder__list
          .wrapper__contents__folder_index__ul__tree__folder__list__icon
            = icon('fas',' fa-folder')
          = link_to user_folder.name,edit_folder_path(user_folder) , class: "wrapper__contents__folder_index__ul__tree__folder__list__name"
          -# = link_to icon('fas',' fa-trash-alt'), folder_path(user_folder),class: "wrapper__contents__folder_index__ul__tree__folder__list__delete", method: :delete
        .wrapper__contents__folder_index__ul__tree__tag
          - user_folder.tags.each do |tag|
            %li.wrapper__contents__folder_index__ul__tree__tag__list
              .wrapper__contents__folder_index__ul__tree__tag__list__icon
                = icon('fas',' fa-tags')
              = link_to tag.name,edit_tag_path(tag) , class: "wrapper__contents__folder_index__ul__tree__tag__list__name"
          = link_to tag.name,'#' , class: "wrapper__contents__folder_index__ul__tree__tag__list__name"
          -# = link_to tag.name,edit_tag_path(tag) , class: "wrapper__contents__folder_index__ul__tree__tag__list__name"