.new_message
  =form_for [@memo] do |f|
    = f.text_field :title, class: 'new_message__title',placeholder: 'type a title'
    = f.text_area :text, class: 'new_message__text',placeholder: 'type a message'
    .new_message__mask
      =f.label :image, class: 'new_message__mask__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
    = f.submit '登録', class: 'new_message__submit_btn'
