.new_tag
  = form_for [@tag] do |f|
    = f.text_field :name, class: 'new_tag__field',placeholder: 'type new tag name'
    - @user_folders.each do |folder|
      = f.radio_button :folder_id, folder.id
      = f.label folder.name
    = f.submit '登録', class: 'new_tag__submit_btn'