.new_message
  =form_for [@memo] do |f|
    .new_message__input
      .new_message__input__form
        %p
          title
        = f.text_field :title, class: 'new_message__input__form__title',placeholder: 'type a title'
        %p
          content
        = f.text_area :text, class: 'new_message__input__form__text',placeholder: 'type a content'
        .new_message__input__form__mask
          =f.label :image, class: 'new_message__input__form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      .new_message__input__attributes
        %p.new_message__input__attributes__title
          tag
        .new_message__input__attributes__board
          - @user_folders.each do |user_folder|
            .new_message__input__attributes__board__folder
              .new_message__input__attributes__board__folder__icon
                = icon('fas',' fa-folder')
              .new_message__input__attributes__board__folder__name
                = user_folder.name
            .new_message__input__attributes__board__tag
              = f.collection_check_boxes :tag_ids, user_folder.tags, :id, :name do |b|
                = b.label(class:"new_message__input__attributes__board__tag__cbx") { b.check_box + " " + icon('fas',' fa-tags') + " "  + b.text }
    = f.submit 'Register', class: 'new_message__submit_btn'